<div class="d-flex">
    <h6 class="me-auto"><%= title %></h6>
    <div class="searchbar d-flex mb-1">
        <input class="form-control me-2" type="search" placeholder="Ara" aria-label="Search" id="searchForElement">
        <button class="btn btn-outline-danger" type="submit">Search</button>
    </div>
</div>
<hr class="mt-2">